<app-nav-menu-oferta></app-nav-menu-oferta>
<div class="welcome-area" id="promocao">
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 align-text-center">
                    <h1>Essa oportunidade não vai aparecer novamente, aproveite!</h1>
                    <p>Compre agora mesmo a nossa sala de sinais com <b>40%</b> de desconto </p>
                    <p>Custando apenas <b>R$2,65</b> reais/dia.</p>
                    <!-- <p>Além do mais, você pode cancelar por qualquer motivo em até 7 dias. Faremos o seu reembolso na hora!</p> -->
                    <p><a href="https://pay.hotmart.com/C50463672I?checkoutMode=10" 
                        class="main-button-slider pulse" target="_blank">COMPRAR AGORA</a></p>
                </div>
            </div>
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 align-text-center">
                    <p><a routerLink="/misterx-oferta" target="_blank" 
                        class="main-button-slider1" target="_blank">NÃO, QUERO ALGO MAIS BARATO</a></p>                    
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section colored1" id="garantia">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="../../assets/img/garantia_7_dias.png" alt="Garantia de 7 dias" id="garantia">
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6"> 
                <br>
                <p>Além do mais, o risco é todo nosso. Pode ficar tranquilo!</p>
                <p>Você pode cancelar por qualquer motivo em até 7 dias. Faremos o seu reembolso na hora!</p>
                <p>Sem burocracia e questionamentos. O time da Angel Signals assume o risco totalmente.</p>
                <p>Compre agora com 7 dias de garantia clicando no botão abaixo 👇👇👇</p>
                <p><a href="https://pay.hotmart.com/C50463672I?checkoutMode=10" 
                    class="main-button-slider pulse" target="_blank">COMPRAR AGORA</a></p>
                <p><a routerLink="/misterx-oferta" 
                        class="main-button-slider1" target="_blank">NÃO, QUERO ALGO MAIS BARATO</a></p>
            </div>
        </div>  
    </div>
</section>

<section class="results" id="results">
    <div class="content mt-3 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Mas será que a lista VIP é tudo isso mesmo? Veja alguns exemplos</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt=""></i>
                            <p class="center-text">Lista VIP manhã dia 25/03/2021</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/lista-march.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt="Resultado sinais ao vivo de semana"></i>
                            <p class="center-text">Lista VIP manhã dia 24/03/2021</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/lista2-march.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt=""></i>
                            <p class="center-text">Lista VIP da manhã dia 22/03/2021</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/lista4-march.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt="Resultado sinais ao vivo de semana"></i>
                            <p class="center-text">Lista VIP da madrugada dia 22/03/2021</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/lista5-march.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt="Resultado lista OTC"></i>
                            <p class="center-text">Lista VIP da madrugada dia 22/03/2021 - CONTINUAÇÃO</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/lista6-march.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt="Resultado lista OTC"></i>
                            <p class="center-text">Lista VIP da madrugada dia 23/03/2021</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/lista3-march.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p><a href="https://pay.hotmart.com/C50463672I?checkoutMode=10" 
                        class="main-button-slider pulse" target="_blank">COMPRAR AGORA</a></p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p><a routerLink="/misterx-oferta" 
                            class="main-button-slider1" target="_blank">NÃO, QUERO ALGO MAIS BARATO</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading" id="contact-us">
                    <h2 class="section-title"><br>Ainda têm dúvidas? Entre em contato agora mesmo.</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Não deixe para depois o que você pode fazer agora.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
            <div class="features-small-item">
              <a href="http://bit.ly/-whatsapp_angel-" target="_blank">
              <div class="icon">
                  <i><img src="../../assets/img/icons8-whatsapp-80.png" alt=""></i>
              </div>
              <h5 class="features-title">Time de Suporte</h5>
              <p>Venha fazer parte do nosso time e ser um trader de respeito. Junte-se ao grupo</p>   
            </a>           
            </div>
          </div>
        </div>
    </div>
  </section>
  <app-footer></app-footer>