<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-md navbar-light">

          <a href="/misterx-oferta" class="navbar-brand">
            <img src="../../assets/img/logo.png" style="width: 110px; height: 100px;" alt="Angel Signals" />
          </a>
          <button
            class="navbar-toggler navbar-toggler-right custom-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item"><a class="nav-link" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="2000" [pageScrollEasing]="myEasing" 
                [pageScrollInterruptible]="false" href="#promocao" class="">Promoção</a></li>
              <li class="nav-item"><a class="nav-link" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="2000" [pageScrollEasing]="myEasing" 
                  [pageScrollInterruptible]="false" href="#garantia" class="">Garantia</a></li>
              <li class="nav-item"><a class="nav-link" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="2000" [pageScrollEasing]="myEasing" 
                [pageScrollInterruptible]="false" href="#results" class="">Resultados</a></li>
              <li class="nav-item"><a class="nav-link" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="2000" [pageScrollEasing]="myEasing" 
                [pageScrollInterruptible]="false" href="#contact-us" class="">Suporte</a></li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
  </div>
</header>
