<section class="menu cid-s1YLZwONfz" once="menu" id="menu1-1">
  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container">
      <div class="navbar-brand">
        <a href="/video-aulas" >
          <img src="../../assets/img/logo.png" style="width: 110px; height: 100px;" alt="Angel Signals" />
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown my-auto" data-app-modern-menu="true">
          <!-- <li class="nav-item">
            <a class="nav-link link text-white display-4" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link text-white display-4" href="#">Pricing</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link link text-white display-4" href="/landing-page/#depoimentos">Depoimentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link text-white display-4" href="/landing-page/#contact">Cadastro</a>
          </li>
        </ul>
        <div class="icons-menu">
          <a href="https://www.facebook.com/angelsignalsbr" target="_blank">
            <span class="p-2 mbr-iconfont socicon-facebook socicon"></span>
          </a>
          <a href="https://instagram.com/angelsignalsbr?igshid=oox7hle8tbge" target="_blank">
            <span class="p-2 mbr-iconfont socicon-instagram socicon"></span>
          </a>
          <a href="https://t.me/joinchat/Ijhcddk4tFKwnxEG" target="_blank">
            <span class="p-2 mbr-iconfont socicon-telegram socicon"></span>
          </a>
        </div>
      </div>
    </div>
  </nav>
</section>

<section class="header2 cid-s1YLYYtmhw" id="header2-0">
  <div class="container align-left">
      <div class="row justify-content-center">
          <div class="mbr-white col-md-12 my-auto md-pb col-lg-12">                
              <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7 mt-5">Mini Curso Completo - Aulas de 1
              </p>
          </div>
          <div class="card col-12 img-col col-md-12 col-lg-12">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" width="260" height="115" src="https://www.youtube.com/embed/ZJjVvWAYF28"></iframe>
                </div>                           
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="mbr-white col-md-12 my-auto md-pb col-lg-12">                
            <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7 mt-5">Mini Curso Completo - Aulas de 2
            </p>
        </div>
        <div class="card col-12 img-col col-md-12 col-lg-12">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="260" height="115" src="https://www.youtube.com/embed/1DkFzI7EST8"></iframe>
              </div>                           
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="mbr-white col-md-12 my-auto md-pb col-lg-12">                
          <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7 mt-5">Mini Curso Completo - Aulas de 3
          </p>
      </div>
      <div class="card col-12 img-col col-md-12 col-lg-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" width="260" height="115" src="https://www.youtube.com/embed/brAldgH_rdA"></iframe>
            </div>                           
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="mbr-white col-md-12 my-auto md-pb col-lg-12">                
        <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7 mt-5">Mini Curso Completo - Aulas de 4
        </p>
    </div>
    <div class="card col-12 img-col col-md-12 col-lg-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="260" height="115" src="https://www.youtube.com/embed/ZmlVtDSMOIo"></iframe>
          </div>                           
    </div>
</div>
<div class="row justify-content-center">
  <div class="mbr-white col-md-12 my-auto md-pb col-lg-12">                
      <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7 mt-5">Mini Curso Completo - Aulas de 5
      </p>
  </div>
  <div class="card col-12 img-col col-md-12 col-lg-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="260" height="115" src="https://www.youtube.com/embed/EwNmxV0rgFc"></iframe>
        </div>                           
  </div>
</div>
<div class="row justify-content-center">
  <div class="mbr-white col-md-12 my-auto md-pb col-lg-12">                
      <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7 mt-5">Mini Curso Completo - Aulas de 6
      </p>
  </div>
  <div class="card col-12 img-col col-md-12 col-lg-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="260" height="115" src="https://www.youtube.com/embed/-fSw8JqcMRo"></iframe>
        </div>                           
  </div>
</div>
<div class="row justify-content-center">
  <div class="mbr-white col-md-12 my-auto md-pb col-lg-12">                
      <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7 mt-5">Mini Curso Completo - Aulas de 7
      </p>
  </div>
  <div class="card col-12 img-col col-md-12 col-lg-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="260" height="115" src="https://www.youtube.com/embed/estiEGC0aXw"></iframe>
        </div>                           
  </div>
</div>
  </div>
</section>

<section class="header2 cid-s1YLYYtmhw" id="header2-0"></section>

<section class="header2 cid-s1YLYYtmhw" id="header2-0"></section>
