<div class="welcome-area" id="welcome">
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 align-text-center">
                    <h1>Já pensou em dobrar seu capital inicial em pouco tempo? 
                        <br>Já pensou em ter uma renda extra todos os meses?</h1>
                    <p>Com o time da Angel Signals você obterá seu lucro sem muito esforço, 
                        <br> garantindo uma renda extra todos os meses!
                    </p>
                    <a href="#pricing-plans" class="main-button-slider">Conheça mais</a>
                </div>
            </div>
        </div>
    </div>
</div>
    