<section class="section colored" id="contact-us">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="center-heading">
                  <h2 class="section-title">Fale Conosco</h2>
              </div>
          </div>
          <div class="offset-lg-3 col-lg-6">
              <div class="center-text">
                  <p>Tire todas as suas dúvidas através do nosso canal do Telegram.</p>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
          <div class="features-small-item">
            <a href="https://t.me/joinchat/-7JL9P8bPnRlYWE8" target="_blank">
            <div class="icon">
                <i><img src="../../assets/img/icons8-telegram-app-96.png" alt=""></i>
            </div>
            <h5 class="features-title">Grupo do Telegram</h5>
            <p>Venha fazer parte do nosso time e ser um trader de respeito. Junte-se ao grupo</p>   
          </a>           
          </div>
        </div>
      </div>
  </div>
</section>