<app-home-banner></app-home-banner>
<section class="section home-feature">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                      <div class="features-small-item">
                          <div class="icon">
                              <i><img src="../../assets/img/icons8-increase-64.png" alt=""></i>
                          </div>
                          <h5 class="features-title">Análise de Mercado</h5>
                          <p>Trader analisando o mercado em tempo real para melhores acertos nos sinais</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s" data-scroll-reveal-id="2" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                      <div class="features-small-item">
                          <div class="icon">
                              <i><img src="../../assets/img/icons8-relaxed-sitting-at-the-computer-64.png" alt=""></i>
                          </div>
                          <h5 class="features-title">Sinais ao vivo</h5>
                          <p>Envio de sinais ao vivo na sala Premium do Telegram</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s" data-scroll-reveal-id="3" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                      <div class="features-small-item">
                          <div class="icon">
                              <i><img src="../../assets/img/icons8-check-50.png" alt=""></i>
                          </div>
                          <h5 class="features-title">Lista de Sinais</h5>
                          <p>Todos os dias listas são enviadas, tanto nos dias de semana como em finais de semana</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s" data-scroll-reveal-id="3" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <div class="features-small-item">
                        <div class="icon">
                            <i><img src="../../assets/img/icons8-book-and-pencil-50.png" alt=""></i>
                        </div>
                        <h5 class="features-title">Curso Avançado</h5>
                        <p>Cursos avançados realizados pelos melhores traders do mercado</p>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- <section class="section padding-top-70 padding-bottom-0" id="features">
  <div class="container">
      <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s" data-scroll-reveal-id="4" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
              <img src="../../assets/img/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
              <div class="left-heading">
                  <h2 class="section-title">Let’s discuss about you project</h2>
              </div>
              <div class="left-text">
                  <p>Nullam sit amet purus libero. Etiam ullamcorper nisl ut augue blandit, at finibus leo efficitur. Nam gravida purus non sapien auctor, ut aliquam magna ullamcorper.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="hr"></div>
          </div>
      </div>
  </div>
</section> -->

<section class="section padding-bottom-0" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
              <div class="left-heading">
                  <h2 class="section-title">O que vocês vão aprender com este curso?</h2>
              </div>
              <div class="left-text">
                  <p><i><img src="../../assets/img/icons8-candlestick-chart-48.png" alt=""></i> Entenda como funciona o mercado</p>
                  <p><i><img src="../../assets/img/icons8-mortgage-48.png" alt=""></i> Criar sua conta na corretora</p>
                  <p><i><img src="../../assets/img/icons8-insert-card-48.png" alt=""></i> Depósitos / Pagamentos por parte da corretora</p>
                  <p><i><img src="../../assets/img/icons8-strategy-48.png" alt=""></i> Estratégias e como aplicá-las</p>
                  <p><i><img src="../../assets/img/icons8-fire-alarm-48.png" alt=""></i> Gatilhos de entradas</p>    
                  <p><i><img src="../../assets/img/icons8-calculate-48.png" alt=""></i> Gerenciamento da sua banca</p>                  
              </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s" data-scroll-reveal-id="5" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
              <img src="../../assets/img/candle-stock.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <div class="hr"></div>
        </div>
    </div>
  </div>
</section>

<section class="mini" id="work-process">
  <div class="mini-content">
      <div class="container">
          <div class="row">
              <div class="offset-lg-3 col-lg-6">
                  <div class="info">
                      <h1>Conheça o método da Angel Signals Brasil</h1>
                      <p>A melhor sala de sinais do Brasil, com assertividades acima de 90% e curso do básico ao mais avançado. Se torne um trader agora mesmo!</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-money-bag-48 (1).png" alt=""></i>
                      <strong>- Menos tempo + Dinheiro</strong>
                      <!-- <span>Godard pabst prism fam cliche.</span> -->
                  </a>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-sports-medal-48.png" alt=""></i>
                      <strong>Alta Assertividade</strong>
                      <!-- <span>Godard pabst prism fam cliche.</span> -->
                  </a>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-online-support-48.png" alt=""></i>
                      <strong>Suporte ao Aluno</strong>
                      <!-- <span>Godard pabst prism fam cliche.</span> -->
                  </a>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-check-dollar-48.png" alt=""></i>
                      <strong>Método 100% Validado</strong>
                      <!-- <span>Godard pabst prism fam cliche.</span> -->
                  </a>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-teacher-48.png" alt=""></i>
                      <strong>Curso de Fácil Didática</strong>
                      <!-- <span>Godard pabst prism fam cliche.</span> -->
                  </a>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-man-student-48.png" alt=""></i>
                      <strong>Do Básico ao Avançado</strong>
                      <!-- <span>Godard pabst prism fam cliche.</span> -->
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section" id="testimonials">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="center-heading">
                  <h2 class="section-title">Alguns Depoimentos dos Nossos Sinais</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="team-item">
                <div class="team-content">
                    <i><img src="../../assets/img/testimonial-icon.png" class="mb-3"></i>
                      <div class="team-info" class="pl-2 pr-2">
                        <img src="../../assets/img/testimonial7.jpg" style="width: 335px;">
                    </div>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="team-item">
                <div class="team-content">
                    <i><img src="../../assets/img/testimonial-icon.png"  class="mb-3"></i>
                      <div class="team-info" class="pl-2 pr-2">
                        <img src="../../assets/img/testimonial8.jpg" style="width: 335px;">
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="team-item">
                <div class="team-content">
                    <i><img src="../../assets/img/testimonial-icon.png"  class="mb-3"></i>
                      <div class="team-info" class="pl-2 pr-2">
                        <img src="../../assets/img/testimonial9.jpg" style="width: 335px;">
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="team-item">
              <div class="team-content">
                  <i><img src="../../assets/img/testimonial-icon.png"  class="mb-3"></i>
                  <div class="team-info" class="pl-2 pr-2">
                      <img src="../../assets/img/testimonial10.jpg" style="width: 335px;">
                  </div>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="team-item">
              <div class="team-content">
                  <i><img src="../../assets/img/testimonial-icon.png"  class="mb-3"></i>
                  <div class="team-info" class="pl-2 pr-2">
                      <img src="../../assets/img/testimonial11.jpg" style="width: 335px;">
                  </div>
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="team-item">
              <div class="team-content">
                  <i><img src="../../assets/img/testimonial-icon.png"  class="mb-3"></i>
                  <div class="team-info" class="pl-2 pr-2">
                      <img src="../../assets/img/testimonial12.jpg" style="width: 335px;">
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="results" id="results">
    <div class="content mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Nossos resultados?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt=""></i>
                            <p class="center-text">Sinais M5 de semana</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/results-padrao.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt="Resultado sinais ao vivo de semana"></i>
                            <p class="center-text">Sinais Ao Vivo Na Semana</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/results-aovivo.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt="Resultado lista OTC"></i>
                            <p class="center-text">Sinais OTC - Final de semana</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/results-otc.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section colored" id="pricing-plans">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Planos</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Temos as melhores listas e somos o custo/benefício mais em conta do mercado. Venha conhecer...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" data-scroll-reveal-id="6" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">GRÁTIS</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">R$</span>
                            <span class="price">00,00</span>
                            <span class="period">teste por 7 dias</span>
                        </div>
                        <ul class="list">
                            <li>Sala de Sinais VIP por 1 mês grátis </li>
                            <li>Curso do Básico ao Avançado</li>
                            <li>Suporte ao aluno</li>
                            <li class="active">Sinais ao vivo</li>
                            <li class="active">Sinais da lista de M5</li>
                            <li class="active">Sinais da lista de M15</li>
                            <li class="active">Sinais da lista de OTC</li>
                            <li>+ BÔNUS SURPRESA</li>                    
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="https://t.me/joinchat/GzaWXcgD2HlmWx9V" class="main-button" target="_blank">Participar Agora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s" data-scroll-reveal-id="7" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">SALA DE SINAIS VIP</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">R$</span>
                            <span class="price">120,00</span>
                            <span class="period">mensais</span>
                        </div>
                        <ul class="list">
                            <li>Sala de Sinais VIP por 1 mês grátis </li>
                            <li>Curso do Básico ao Avançado</li>
                            <li>Suporte ao aluno</li>
                            <li class="active">Sinais ao vivo</li>
                            <li class="active">Sinais da lista de M5</li>
                            <li class="active">Sinais da lista de M15</li>
                            <li class="active">Sinais da lista de OTC</li>
                            <li>+ BÔNUS SURPRESA</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="https://pay.hotmart.com/A45718273S?off=4n7x2rgf" class="main-button" target="_blank">Comprar Agora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s" data-scroll-reveal-id="8" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="pricing-item active">
                    <div class="pricing-header">
                        <h3 class="pricing-title">SALA VIP + CURSO</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">R$</span>
                            <span class="price">297,00</span>
                            <span class="period">+ R$120,00 mensais</span>
                        </div>
                        <ul class="list">
                            <li class="active">Sala de Sinais VIP por 1 mês grátis </li>
                            <li class="active">Curso do Básico ao Avançado</li>
                            <li class="active">Suporte ao aluno</li>
                            <li class="active">Sinais ao vivo</li>
                            <li class="active">Sinais da lista de M5</li>
                            <li class="active">Sinais da lista de M15</li>
                            <li class="active">Sinais da lista de OTC</li>
                            <li class="active">+ BÔNUS SURPRESA</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="https://pay.hotmart.com/A45718273S?off=00g1sx40" class="main-button" target="_blank">Comprar Agora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="counter">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>89%</strong>
                        <span>Assertividade <br>Lista M5</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>96%</strong>
                        <span>Assertividade <br>Lista M15</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>87%</strong>
                        <span>Assertividade <br>Sinais Ao Vivo</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item">
                        <strong>90%</strong>
                        <span>Assertividade <br>Lista OTC</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="section" id="blog">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Blog Entries</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="../../assets/img/blog-item-01.png" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Vivamus ac vehicula dui</a>
                        </h3>
                        <div class="text">
                           Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="../../assets/img/blog-item-02.png" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Phasellus convallis augue</a>
                        </h3>
                        <div class="text">
                            Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit venenatis, vel ultrices sapien mattis.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="../../assets/img/blog-item-03.png" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Nam gravida purus non</a>
                        </h3>
                        <div class="text">
                            Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut tempus enim varius eu.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<app-Talk-To-Us></app-Talk-To-Us>