<app-nav-menu></app-nav-menu>
<app-home-banner></app-home-banner>
<section class="section home-feature">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                      <div class="features-small-item">
                          <div class="icon">
                              <i><img src="../../assets/img/icons8-futurama-bender-64.png" alt=""></i>
                          </div>
                          <h5 class="features-title">Robô de Análise em tempo real</h5>
                          <p>Trader aplica seus paramêtros de alta assertividade para envio automático de sinais M1/M5/M15 utilizando Inteligência Artificial 24 horas por dia</p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s" data-scroll-reveal-id="2" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                      <div class="features-small-item">
                          <div class="icon">
                              <i><img src="../../assets/img/icons8-relaxed-sitting-at-the-computer-64.png" alt=""></i>
                          </div>
                          <h5 class="features-title">Sinais Ao Vivo</h5>
                          <p>Trader analisa o mercado em tempo real e envia sinais ao vivo na sala VIP do Telegram com uma alta assertividade baseado em análise de Price Action<br><br><br></p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s" data-scroll-reveal-id="3" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                      <div class="features-small-item">
                          <div class="icon">
                              <i><img src="../../assets/img/icons8-check-50.png" alt=""></i>
                          </div>
                          <h5 class="features-title">Lista de Sinais</h5>
                          <p>Envio de listas de sinais M5/M15 (dias de semana) e OTC(finais de semana) no período da noturno e diurno para a sala VIP, contendo mais de 30 sinais diários<br><br><br></p>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s" data-scroll-reveal-id="3" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <div class="features-small-item">
                        <div class="icon">
                            <i><img src="../../assets/img/icons8-book-and-pencil-50.png" alt=""></i>
                        </div>
                        <h5 class="features-title">Curso Avançado</h5>
                        <p>Curso do básico ao avançado realizado pelo melhor trader da Europa mais conhecido como Steve Angel "Trader X" 🇮🇪<br><br><br><br></p>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="video">
    <div class="container">
        <div class="row">
            <div class="embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m5AcimK8SaE" allowfullscreen></iframe>
            </div>
        </div>
    </div>    
</section>

<section class="section padding-bottom-0" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
              <div class="left-heading">
                  <h2 class="section-title">O que vocês vão aprender com este curso?</h2>
              </div>
              <div class="left-text">
                  <p><i><img src="../../assets/img/icons8-candlestick-chart-48.png" alt=""></i> Entenda como funciona o mercado</p>
                  <p><i><img src="../../assets/img/icons8-mortgage-48.png" alt=""></i> Criar sua conta na corretora</p>
                  <p><i><img src="../../assets/img/icons8-insert-card-48.png" alt=""></i> Depósitos / Pagamentos por parte da corretora</p>
                  <p><i><img src="../../assets/img/icons8-ideia-de-compartilhamento-64.png" alt=""></i> Mindset de um trader</p>
                  <p><i><img src="../../assets/img/icons8-calculate-48.png" alt=""></i> Gerenciamento da sua banca</p>  
                  <p><i><img src="../../assets/img/icons8-fire-alarm-48.png" alt=""></i> Principais Gatilhos de entradas</p>    
                  <p><i><img src="../../assets/img/icons8-strategy-48.png" alt=""></i> Estratégias e como aplicá-las</p>
                  
                                  
              </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s" data-scroll-reveal-id="5" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
              <img src="../../assets/img/candle-stock.jpg" class="rounded img-fluid d-block mx-auto" alt="App">
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <div class="hr"></div>
        </div>
    </div>
  </div>
</section>

<section class="mini" id="work-process">
  <div class="mini-content">
      <div class="container">
          <div class="row">
              <div class="offset-lg-3 col-lg-6">
                  <div class="info">
                      <h1>Conheça o método da Angel Signals Brasil</h1>
                      <p>A melhor sala de sinais do Brasil, com assertividades maior ou igual a 90% e curso do básico ao mais avançado. Torne-se um trader agora mesmo!</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-money-bag-48 (1).png" alt=""></i>
                      <strong>Gaste Menos Tempo e Ganhe Mais Dinheiro<br><br></strong>                      
                  </a>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-sports-medal-48.png" alt=""></i>
                      <strong>Sinais e Listas de Alta Assertividade<br><br><br></strong>                      
                  </a>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-online-support-48.png" alt=""></i>
                      <strong>Grupo de Whatsapp para Suporte ao Aluno 24 horas<br><br></strong>                      
                  </a>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-check-dollar-48.png" alt=""></i>
                      <strong>Método 100% Validado pelos próprios alunos<br><br></strong>                      
                  </a>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-teacher-48.png" alt=""></i>
                      <strong>Curso de Fácil Didática do Básico ao Avançado<br><br></strong>                      
                  </a>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                  <a href="#" class="mini-box">
                      <i><img src="../../assets/img/icons8-robo-2-48.png" alt=""></i>
                      <strong>Robô Analisa o Mercado em Tempo Real e envia sinais 24 horas</strong>                      
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="section" id="testimonials">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="center-heading">
                  <h2 class="section-title">Alguns Depoimentos dos Nossos Alunos</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="team-item">
                <div class="team-content">
                    <i><img src="../../assets/img/testimonial-icon.png" class="mb-3"></i>
                      <div class="team-info" class="pl-2 pr-2">
                        <img src="../../assets/img/testimonial7.jpg" style="width: 335px;">
                    </div>
                </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="team-item">
                <div class="team-content">
                    <i><img src="../../assets/img/testimonial-icon.png"  class="mb-3"></i>
                      <div class="team-info" class="pl-2 pr-2">
                        <img src="../../assets/img/testimonial8.jpg" style="width: 335px;">
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="team-item">
                <div class="team-content">
                    <i><img src="../../assets/img/testimonial-icon.png"  class="mb-3"></i>
                      <div class="team-info" class="pl-2 pr-2">
                        <img src="../../assets/img/testimonial9.jpg" style="width: 335px;">
                    </div>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="team-item">
              <div class="team-content">
                  <i><img src="../../assets/img/testimonial-icon.png"  class="mb-3"></i>
                  <div class="team-info" class="pl-2 pr-2">
                      <img src="../../assets/img/testimonial10.jpg" style="width: 335px;">
                  </div>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="team-item">
              <div class="team-content">
                  <i><img src="../../assets/img/testimonial-icon.png"  class="mb-3"></i>
                  <div class="team-info" class="pl-2 pr-2">
                      <img src="../../assets/img/testimonial11.jpg" style="width: 335px;">
                  </div>
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="team-item">
              <div class="team-content">
                  <i><img src="../../assets/img/testimonial-icon.png"  class="mb-3"></i>
                  <div class="team-info" class="pl-2 pr-2">
                      <img src="../../assets/img/testimonial12.jpg" style="width: 335px;">
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="results" id="results">
    <div class="content mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Nossos resultados?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt=""></i>
                            <p class="center-text">Sinais M5 de semana</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/results-padrao.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt="Resultado sinais ao vivo de semana"></i>
                            <p class="center-text">Sinais Ao Vivo Na Semana</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/results-aovivo.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt="Resultado lista OTC"></i>
                            <p class="center-text">Sinais OTC - Final de semana</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/results-otc.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="results" id="robo">
    <div class="content mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Resultados parciais do Robô 24 horas/dia?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt=""></i>
                            <p class="center-text">Sinais M1</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/results-robo-m1.jpg" alt="Resultados dos Sinais M1 do Robô" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt="Resultados dos sinais Robô M5"></i>
                            <p class="center-text">Sinais M5</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/results-robo-m5.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../../assets/img/icons8-trophy-48.png" alt="Resultados dos Sinais M15 do Robô"></i>
                            <p class="center-text">Sinais M15</p>
                            <div class="team-info" class="pl-2 pr-2">
                                <img src="../../assets/img/results-robo-m15.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section colored" id="pricing-plans">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Planos</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Temos as melhores listas e com o melhor custo/benefício do mercado. Venha fazer parte do nosso time...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" data-scroll-reveal-id="6" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="pricing-item">
                    <div class="pricing-header">
                        <h3 class="pricing-title">GRÁTIS</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="currency">Quer fazer testes?</span>
                        </div>
                        <ul class="list">
                            <li class="active">Sinais da lista de M5</li>
                            <li class="active">Sinais da lista de M15</li>
                            <li class="active">Sinais da lista de OTC</li>
                            <li>+ ROBÔ 24 HORAS - Faz análises gráficas em tempo real</li> 
                            <li>Sala de Sinais VIP por 1 mês grátis </li>
                            <li>Curso do Básico ao Avançado</li>
                            <li>Suporte ao aluno 24 horas</li>
                            <li>Sinais ao vivo</li>
                            <li>Grupo no whatsapp para mentores e mentorados compartilharem informações</li>
                            <li>Lives mensais para tirar dúvidas e operações</li>                
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="https://t.me/joinchat/WSCHY9AHZP8dsUhq" class="main-button" target="_blank">Participar Agora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s" data-scroll-reveal-id="7" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="pricing-item">
                    <div class="pricing-header mb-5">
                        <h3 class="pricing-title">SALA ROBÔ MISTER X (Apenas 10 vagas)</h3>
                    </div>
                    <div class="pricing-body">
                        <div class="price-wrapper">
                            <span class="period">De R$80,00 por</span>
                            <span class="currency">R$</span>
                            <span class="price">47,00</span>
                            <span class="period">mensais</span>
                        </div>
                        <ul class="list">
                            <li class="active">Sala de Sinais 24 Hrs/Dia </li>
                            <li class="active">Sinais em M1</li>
                            <li class="active">Sinais em M5</li>
                            <li class="active">Sinais em M15</li>
                            <li class="active">Sinais em OTC</li>
                            <li>Bot Analisa em tempo real as entradas</li>
                            <li>Suporte ao aluno</li>
                            <li>Sinais ao vivo</li>
                            <li>Curso do Básico ao Avançado</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="https://pay.hotmart.com/S47322547J?off=gpn9dvsr&checkoutMode=10&bid=1614020681019" class="main-button" target="_blank">Comprar Agora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s" data-scroll-reveal-id="7" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="pricing-item">
                    <div class="pricing-header mb-5">
                        <h3 class="pricing-title">SALA DE SINAIS VIP (Apenas 15 vagas)</h3>
                    </div>
                    <div class="pricing-body mt-5">
                        <div class="price-wrapper">
                            <span class="period">De R$150,00 por</span>
                            <span class="currency">R$</span>
                            <span class="price">120,00</span>
                            <span class="period">mensais</span>                            
                        </div>
                        <ul class="list">
                            <li class="active">Suporte ao aluno 24 horas</li>
                            <li class="active">Sinais ao vivo</li>
                            <li class="active">Sinais da lista de M5</li>
                            <li class="active">Sinais da lista de M15</li>
                            <li class="active">Sinais da lista de OTC</li>
                            <li class="active">Grupo no whatsapp para mentores e mentorados compartilharem informações</li>
                            <li>+ ROBÔ 24 HORAS - Faz análises gráficas em tempo real</li>
                            <li>Sala de Sinais VIP por 1 mês grátis </li>
                            <li>Curso do Básico ao Avançado</li>
                            <li>Lives mensais para tirar dúvidas e operações</li>
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="https://pay.hotmart.com/S47322547J?off=er8mf44m&checkoutMode=10&bid=1614020706187" class="main-button" target="_blank">Comprar Agora</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s" data-scroll-reveal-id="8" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                <div class="pricing-item active">
                    <div class="pricing-header mb-5">
                        <h3 class="pricing-title">SALA VIP + CURSO (Apenas 10 vagas)</h3>
                    </div>
                    <div class="pricing-body mt-5">
                        <div class="price-wrapper">
                            <span class="period">De R$497,00 por</span>
                            <span class="currency">R$</span>
                            <span class="price">297,00</span>
                            <span class="period">+ R$120,00 mensais</span>
                        </div>
                        <ul class="list">
                            <li class="active">+ ROBÔ 24 HORAS - Faz análises gráficas em tempo real</li>
                            <li class="active">Sala de Sinais VIP por 1 mês grátis </li>
                            <li class="active">Curso do Básico ao Avançado</li>
                            <li class="active">Suporte ao aluno 24 horas</li>
                            <li class="active">Sinais ao vivo</li>
                            <li class="active">Sinais da lista de M5</li>
                            <li class="active">Sinais da lista de M15</li>
                            <li class="active">Sinais da lista de OTC</li>
                            <li class="active">Lives mensais para tirar dúvidas e operações</li>
                            <li class="active">Grupo no whatsapp para mentores e mentorados compartilharem informações</li>                                                      
                        </ul>
                    </div>
                    <div class="pricing-footer">
                        <a href="https://pay.hotmart.com/S47322547J?off=2t6e8wut&checkoutMode=10&bid=1614020729281" class="main-button" target="_blank">Comprar Agora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="affiliation" id="afiliação">
    <div class="content mt-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Quer ser tornar um afiliado ganhando dinheiro com os nossos produtos?</h2> 
                        <h3 class="section-title">Clique no botão abaixo e venha fazer parte!</h3>
                    </div>                    
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s" data-scroll-reveal-id="7" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">SALA ROBÔ MISTER X</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">55% </span>
                                <span class="price">na venda inicial</span>
                                <span class="period">e 55% na recorrência</span>
                            </div>
                            <ul class="list">
                                <li class="active">Comissão de R$25,85 na venda inicial</li>
                                <li class="active">Comissão de R$25,85 na recorrência</li>
                                <li class="active">Suporte ao Afiliado</li>
                                <li class="active"><strong>Bônus Residual (Valor da Mensalidade de seus clientes): </strong></li> 
                                <li class="active"><strong>10 Clientes = R$258,50/mês</strong></li> 
                                <li class="active"><strong>60 clientes = R$1551/mês</strong></li> 
                                <li class="active"><strong>1000 clientes = R$25850/mês</strong></li> 
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="https://app-vlc.hotmart.com/affiliate-recruiting/view/5153A47322568" class="main-button" target="_blank">Afiliar-se Agora</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s" data-scroll-reveal-id="7" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">SALA DE SINAIS VIP</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">55% </span>
                                <span class="price">na venda inicial</span>
                                <span class="period">e 55% na recorrência</span>
                            </div>
                            <ul class="list">
                                <li class="active">Comissão de R$66,00 na venda inicial</li>
                                <li class="active">Comissão de R$66,00 na recorrência</li>
                                <li class="active">Suporte ao Afiliado</li>
                                <li class="active"><strong>Bônus Residual (Valor da Mensalidade de seus clientes): </strong></li> 
                                <li class="active"><strong>10 Clientes = R$660/mês</strong></li> 
                                <li class="active"><strong>60 clientes = R$3960/mês</strong></li> 
                                <li class="active"><strong>1000 clientes = R$66.000/mês</strong></li> 
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="https://app-vlc.hotmart.com/affiliate-recruiting/view/5153A47322568" class="main-button" target="_blank">Afiliar-se Agora</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s" data-scroll-reveal-id="8" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">SALA VIP + CURSO</h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">60% </span>
                                <span class="price">na venda inicial</span>
                                <span class="period">e 50% na recorrência</span>
                            </div>
                            <ul class="list">
                                <li class="active">Comissão de R$178,20 na venda inicial</li>
                                <li class="active">Comissão de R$60,00 na recorrência</li>
                                <li class="active">Suporte ao Afiliado</li>
                                <li class="active"><strong>Plano de Carreira (Premiações por Número de Vendas): </strong></li>  
                                <li class="active"><strong>80 VENDAS = 1000 REAIS EM DINHEIRO</strong></li> 
                                <li class="active"><strong>250 VENDAS = APPLE WATCH</strong></li> 
                                <li class="active"><strong>450 VENDAS = IPHONE 12 PRO MAX</strong></li>                              
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="https://app-vlc.hotmart.com/affiliate-recruiting/view/5153A47322568" class="main-button" target="_blank">Afiliar-se Agora</a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>

<section class="counter">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>90%</strong>
                        <span>Assertividade <br>Lista M5</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>93%</strong>
                        <span>Assertividade <br>Lista M15</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item decoration-bottom">
                        <strong>87%</strong>
                        <span>Assertividade <br>Sinais Ao Vivo</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="count-item">
                        <strong>94%</strong>
                        <span>Assertividade <br>Lista OTC</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="section" id="blog">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Blog Entries</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="../../assets/img/blog-item-01.png" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Vivamus ac vehicula dui</a>
                        </h3>
                        <div class="text">
                           Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="../../assets/img/blog-item-02.png" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Phasellus convallis augue</a>
                        </h3>
                        <div class="text">
                            Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit venenatis, vel ultrices sapien mattis.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="../../assets/img/blog-item-03.png" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Nam gravida purus non</a>
                        </h3>
                        <div class="text">
                            Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut tempus enim varius eu.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<app-Talk-To-Us></app-Talk-To-Us>
<app-footer></app-footer>