<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light black_bg">
        <a class="navbar-brand" href="#"><img src="../../assets/img/logo.png" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto main-menu">
          <li class="nav-item px-4 active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<!-- <header>
  <div class="header-area black_bg">
    <div id="sticky-header" class="main-header-area">
      <div class="container">
        <div class="header_bottom_border">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3">
              <div class="logo">
                <a href="https://technext.github.io/eventcon/index.html">
                  <img src="../../assets/img/logo.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="main-menu  d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="https://technext.github.io/eventcon/index.html">home</a></li>
                    <li><a href="https://technext.github.io/eventcon/performer.html">Performer</a></li>

                    <li><a href="https://technext.github.io/eventcon/index.html#">pages <i
                          class="ti-angle-down"></i></a>
                      <ul class="submenu">
                        <li><a href="https://technext.github.io/eventcon/about.html">about</a></li>
                        <li><a href="https://technext.github.io/eventcon/Program.html">Program</a></li>
                        <li><a href="https://technext.github.io/eventcon/Venue.html">Venue</a></li>
                        <li><a href="https://technext.github.io/eventcon/elements.html">elements</a></li>
                      </ul>
                    </li>
                    <li><a href="https://technext.github.io/eventcon/index.html#">blog <i class="ti-angle-down"></i></a>
                      <ul class="submenu">
                        <li><a href="https://technext.github.io/eventcon/blog.html">blog</a></li>
                        <li><a href="https://technext.github.io/eventcon/single-blog.html">single-blog</a></li>
                      </ul>
                    </li>
                    <li><a href="https://technext.github.io/eventcon/contact.html">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
              <div class="buy_tkt">
                <div class="book_btn d-none d-lg-block">
                  <a href="https://technext.github.io/eventcon/index.html#">Buy Tickets</a>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none">
                <div class="slicknav_menu"><a href="https://technext.github.io/eventcon/index.html#"
                    aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed"><span
                      class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span
                        class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span
                        class="slicknav_icon-bar"></span></span></a>
                  <ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                    <li><a href="https://technext.github.io/eventcon/index.html" role="menuitem" tabindex="-1">home</a>
                    </li>
                    <li><a href="https://technext.github.io/eventcon/performer.html" role="menuitem"
                        tabindex="-1">Performer</a></li>

                    <li class="slicknav_collapsed slicknav_parent"><a
                        href="https://technext.github.io/eventcon/index.html#" role="menuitem" aria-haspopup="true"
                        tabindex="-1" class="slicknav_item slicknav_row"><a
                          href="https://technext.github.io/eventcon/index.html#" tabindex="-1">pages <i
                            class="ti-angle-down"></i></a>
                        <span class="slicknav_arrow">+</span></a>
                      <ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                        <li><a href="https://technext.github.io/eventcon/about.html" role="menuitem"
                            tabindex="-1">about</a></li>
                        <li><a href="https://technext.github.io/eventcon/Program.html" role="menuitem"
                            tabindex="-1">Program</a></li>
                        <li><a href="https://technext.github.io/eventcon/Venue.html" role="menuitem"
                            tabindex="-1">Venue</a></li>
                        <li><a href="https://technext.github.io/eventcon/elements.html" role="menuitem"
                            tabindex="-1">elements</a></li>
                      </ul>
                    </li>
                    <li class="slicknav_collapsed slicknav_parent"><a
                        href="https://technext.github.io/eventcon/index.html#" role="menuitem" aria-haspopup="true"
                        tabindex="-1" class="slicknav_item slicknav_row"><a
                          href="https://technext.github.io/eventcon/index.html#" tabindex="-1">blog <i
                            class="ti-angle-down"></i></a>
                        <span class="slicknav_arrow">+</span></a>
                      <ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                        <li><a href="https://technext.github.io/eventcon/blog.html" role="menuitem"
                            tabindex="-1">blog</a></li>
                        <li><a href="https://technext.github.io/eventcon/single-blog.html" role="menuitem"
                            tabindex="-1">single-blog</a></li>
                      </ul>
                    </li>
                    <li><a href="https://technext.github.io/eventcon/contact.html" role="menuitem"
                        tabindex="-1">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header> -->

<!-- <header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">AngelSignalsWeb</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header> -->

