<section class="menu cid-s1YLZwONfz" once="menu" id="menu1-1">
  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container">
        <div class="navbar-brand">            
          <img src="../../assets/img/logo.png" style="width: 130px; height: 120px;" alt="Angel Signals" />
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white display-4" href="#">Team</a>
                </li><li class="nav-item"><a class="nav-link link text-white display-4" href="#">Pricing</a></li>
                <li class="nav-item"><a class="nav-link link text-white display-4" href="#">Testimonials</a></li><li class="nav-item"><a class="nav-link link text-white display-4" href="#">Contacts</a></li></ul>
            <div class="icons-menu">
                <a href="#" target="_blank">
                    <span class="p-2 mbr-iconfont socicon-twitter socicon"></span>
                </a>
                <a href="#" target="_blank">
                    <span class="p-2 mbr-iconfont socicon-skype socicon"></span>
                </a>
                <a href="#" target="_blank">
                    <span class="p-2 mbr-iconfont socicon-vimeo socicon"></span>
                </a>
                
                
                
            </div>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary-outline display-4" href="#"><span class="mobi-mbri mobi-mbri-rocket mbr-iconfont mbr-iconfont-btn"></span>GET STARTED</a></div>
        </div>
    </div>
</nav>
</section>