<section class="menu cid-s1YLZwONfz" once="menu" id="menu1-1">
  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container">
      <div class="navbar-brand">
        <a href="/landing-page" >
          <img src="../../assets/img/logo.png" style="width: 110px; height: 100px;" alt="Angel Signals" />
        </a>
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown my-auto" data-app-modern-menu="true">
          <!-- <li class="nav-item">
            <a class="nav-link link text-white display-4" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link text-white display-4" href="#">Pricing</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link link text-white display-4" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="2000" [pageScrollEasing]="myEasing" 
            [pageScrollInterruptible]="false" href="#depoimentos">Depoimentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link text-white display-4" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="2000" [pageScrollEasing]="myEasing" 
            [pageScrollInterruptible]="false" href="#contact">Fale Conosco</a>
          </li>
        </ul>
        <div class="icons-menu">
          <a href="https://www.facebook.com/angelsignalsbr" target="_blank">
            <span class="p-2 mbr-iconfont socicon-facebook socicon"></span>
          </a>
          <a href="https://instagram.com/angelsignalsbr?igshid=oox7hle8tbge" target="_blank">
            <span class="p-2 mbr-iconfont socicon-instagram socicon"></span>
          </a>
          <a href="https://t.me/joinchat/Ijhcddk4tFKwnxEG" target="_blank">
            <span class="p-2 mbr-iconfont socicon-telegram socicon"></span>
          </a>
        </div>
        <div class="navbar-buttons mbr-section-btn">
          <a class="btn btn-sm btn-primary-outline display-4" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="2000" [pageScrollEasing]="myEasing" 
          [pageScrollInterruptible]="false" href="#contact">
              <span class="mobi-mbri mobi-mbri-rocket mbr-iconfont mbr-iconfont-btn">
                <i class="far fa-hand-pointer"></i>
                </span>
            OBTER MÉTODO AGORA
        </a>
        </div>
      </div>
    </div>
  </nav>
</section>

<section class="header2 cid-s1YLYYtmhw" id="header2-0">
    <div class="container align-left">
        <div class="row justify-content-center">
            <div class="mbr-white col-md-12 my-auto md-pb col-lg-6">                
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    <strong>MÉTODO<br></strong><strong>EUROPEU</strong><strong><br>AGORA NO</strong>
                    <br><strong>BRASIL</strong>
                </h1>
                <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7">Descubra como lucrar na IQ OPTION
                    todos os dias com este novo método Europeu.
                </p>
                <div class="mbr-section-btn">
                    <a class="btn btn-sm btn-primary-outline display-4" pageScroll href="#contact">
                        <span class="mobi-mbri mobi-mbri-paper-plane mbr-iconfont mbr-iconfont-btn">
                            <i class="far fa-hand-pointer"></i>
                        </span>OBTER MÉTODO AGORA
                    </a>
                </div>
            </div>
            <div class="card col-12 img-col col-md-12 col-lg-6">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Htbp4Y9nFGM"></iframe>
                  </div>    
                  <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7 mt-3">Garanta agora este mini curso gratuito. 
                    Iremos te mostrar como é fácil ganhar dinheiro com opções binárias utilizando o nosso método!<br>
                  </p>            
            </div>
        </div>
    </div>
</section>

<section class="testimonials2 cid-s1YMk5s30h" id="depoimentos">
       
  <div class="container-fluid mbr-white" >
      <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-7 pb-3">
              <h4 class="main-title align-center pb-3 mbr-bold mbr-black mbr-fonts-style display-2">Depoimentos</h4>              
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="card col-12 col-md-10 col-lg-7">
              <div class="card-wrapper align-center">
                  <div class="img-wrapper">
                    <div class="embed-responsive embed-responsive-21by9">
                      <iframe class="position-absolute w-100 h-100 border-0" src="https://www.youtube.com/embed/UHXbWTjn9N8" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="card-box ">
                      <h3 class="mbr-subtitle mbr-semibold mbr-fonts-style display-5">Junior</h3>
                      <h4 class="card-title mbr-regular mbr-black mbr-fonts-style display-7">Nosso aluno e afiliado do Rio de Janeiro. <div><br></div>
                      </h4>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>

<section class="form1 cid-s1YMhHggsQ" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto mbr-form">
                <form [formGroup]="registerform" class="mbr-form form-with-styler" >
                  <div class="dragArea form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <h4 class="mbr-bold mbr-fonts-style display-2">Faça o seu cadastro agora</h4>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="pb-4 mbr-fonts-style display-7">Faça o seu cadastro e garanto o seu curso agora mesmo.
                          Não deixe para depois o que você pode fazer agora. Venha conhecer!
                        </p>
                    </div>
                      <div class="col form-group">
                          <input type="text" name="nome" placeholder="Nome" formControlName="nome"  
                          class="form-control display-7" id="name-form1-9"
                          [ngClass]="{'is-invalid': registerform.get('nome').errors, 'is-valid':registerform.get('nome').valid}">
                          <div *ngIf="registerform.get('nome').hasError('required') && registerform.get('nome').touched"
                            class="invalid-feedback mt-2">
                            O campo nome obrigatório!
                          </div>                        
                      </div>
                      <div class="col form-group">
                        <input type="text" name="telefone" formControlName="telefone"  placeholder="Telefone (XX)XXXXX-XXXX" 
                        class="form-control display-7" id="name-form1-9"
                        [ngClass]="{'is-invalid': registerform.get('telefone').errors, 'is-valid':registerform.get('telefone').valid}">
                          <div *ngIf="registerform.get('telefone').hasError('required') && registerform.get('telefone').touched"
                            class="invalid-feedback mt-2">
                            O campo telefone obrigatório!
                          </div>
                      </div>
                      <div class="col form-group">
                        <input type="text" name="email" formControlName="email" class="form-control display-7" placeholder="Email"
                        [ngClass]="{'is-invalid': registerform.get('email').errors, 'is-valid':registerform.get('email').valid}">
                          <div *ngIf="registerform.get('email').hasError('required') && registerform.get('email').touched"
                            class="invalid-feedback mt-2">
                            Email obrigatório!
                          </div>
                          <div class="invalid-feedback mt-2"
                              *ngIf="registerform.get('email').hasError('email')">       
                              Entrar com um email válido
                          </div>
                        </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary display-4" (click)="register()">
                          <span class="mobi-mbri mobi-mbri-edit mbr-iconfont mbr-iconfont-btn">
                              <i class="far fa-edit"></i>
                          </span>
                          CADASTRAR
                        </button>
                        <ng-container *ngIf="isSaving;">
                          <div class="my-overlay" *ngIf="showOverlay">
                            <!-- <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> -->
                            <div class="loader">Loading...</div>
                          </div>                          
                        </ng-container>                        
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</section>


