<app-nav-menu-oferta></app-nav-menu-oferta>
<div class="welcome-area" id="promocao">
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 align-text-center">
                    <h1>Essa oportunidade não vai aparecer novamente, aproveite!</h1>
                    <p>Compre agora mesmo o nosso curso do Básico ao Avançado com metodologia Européia com <b>50%</b> de desconto </p>
                    <p>Custando apenas <b>R$5,00</b> reais/dia.</p>
                    <p><a href="https://pay.hotmart.com/S47322547J?off=8iamz1ko&checkoutMode=10&bid=1617415173357" 
                        class="main-button-slider pulse" target="_blank">COMPRAR AGORA</a></p>
                </div>
            </div>
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 align-text-center">
                    <p><a routerLink="/vip-oferta" 
                        class="main-button-slider1" target="_blank">NÃO, QUERO ALGO MAIS BARATO</a></p>                    
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section colored1" id="garantia">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <img src="../../assets/img/garantia_7_dias.png" alt="Garantia de 7 dias" id="garantia">
            </div>
            <div class="col-lg-8 col-md-6 col-sm-6"> 
                <br>
                <p>Além do mais, o risco é todo nosso. Pode ficar tranquilo!</p>
                <p>Você pode cancelar por qualquer motivo em até 7 dias. Faremos o seu reembolso na hora!</p>
                <p>Sem burocracia e questionamentos. O time da Angel Signals assume o risco totalmente.</p>
                <p>Compre agora com 7 dias de garantia clicando no botão abaixo 👇👇👇</p>
                <p><a href="https://pay.hotmart.com/S47322547J?off=8iamz1ko&checkoutMode=10&bid=1617415173357" 
                    class="main-button-slider pulse" target="_blank">COMPRAR AGORA</a></p>
                <p><a routerLink="/vip-oferta" 
                        class="main-button-slider1" target="_blank">NÃO, QUERO ALGO MAIS BARATO</a></p>
            </div>
        </div>  
    </div>
</section>

<section class="results" id="results">
    <div class="content mt-3 mb-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Mas será que os alunos aprendem e lucram com o curso? Veja alguns exemplos</h2>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt=""></i>
                          <p class="center-text">Depoimentos na nossa sala VIP</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento1.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado sinais ao vivo de semana"></i>
                          <p class="center-text">Histórico de alunos</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento2.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado lista OTC"></i>
                        <p class="center-text">Saques dos nossos alunos</p>
                        <div class="team-info" class="pl-2 pr-2">
                            <img src="../../assets/img/depoimento15.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                        </div>
                        <br>
                    </div>
                </div>
            </div>              
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado sinais ao vivo de semana"></i>
                          <p class="center-text">Saque de um dos nossos alunos</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento4.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                          <br>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado lista OTC"></i>
                          <p class="center-text">Winzão de um dos nossos alunos</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento5.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado lista OTC"></i>
                          <p class="center-text">Depoimentos na nossa sala VIP</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento6.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                          <br>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado sinais ao vivo de semana"></i>
                          <p class="center-text">Aluno agredecido com o nosso curso e Sala VIP</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento7.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                          <br>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado lista OTC"></i>
                          <p class="center-text">Depoimentos na nossa sala VIP</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento8.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado lista OTC"></i>
                          <p class="center-text">Depoimentos na nossa sala de suporte</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento9.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                          <br>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado sinais ao vivo de semana"></i>
                          <p class="center-text">Depoimentos na nossa sala de suporte</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento10.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                          <br>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado lista OTC"></i>
                          <p class="center-text">Depoimentos na nossa sala de suporte</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento11.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado lista OTC"></i>
                          <p class="center-text">Depoimentos na nossa sala VIP</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento12.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                          <br>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado sinais ao vivo de semana"></i>
                          <p class="center-text">Depoimentos na nossa sala VIP</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento13.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                          <br>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="team-item">
                      <div class="team-content">
                          <i><img src="../../assets/img/testimonial-icon.png" alt="Resultado lista OTC"></i>
                          <p class="center-text">Depoimentos na nossa sala de suporte</p>
                          <div class="team-info" class="pl-2 pr-2">
                              <img src="../../assets/img/depoimento14.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-item">
                    <div class="team-content">
                        <i><img src="../../assets/img/testimonial-icon.png" alt=""></i>
                        <p class="center-text">Depoimentos na nossa sala VIP</p>
                        <div class="team-info" class="pl-2 pr-2">
                            <img src="../../assets/img/depoimento3.jpg" alt="Resultado lista M5 de semana" style="width: 335px;">
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <a href="https://pay.hotmart.com/S47322547J?off=8iamz1ko&checkoutMode=10&bid=1617415173357" 
                        class="main-button-slider pulse" target="_blank">COMPRAR AGORA</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <p><a routerLink="/vip-oferta" 
                            class="main-button-slider1" target="_blank">NÃO, QUERO ALGO MAIS BARATO</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section colored">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading" id="contact-us">
                    <h2 class="section-title"><br>Ainda têm dúvidas? Entre em contato agora mesmo.</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Não deixe para depois o que você pode fazer agora.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s" data-scroll-reveal-id="1" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true">
            <div class="features-small-item">
              <a href="https://wa.link/4nirn9" target="_blank">
              <div class="icon">
                  <i><img src="../../assets/img/icons8-whatsapp-80.png" alt=""></i>
              </div>
              <h5 class="features-title">Time de Suporte</h5>
              <p>Venha fazer parte do nosso time e ser um trader de respeito. Junte-se ao grupo</p>   
            </a>           
            </div>
          </div>
        </div>
    </div>
  </section>
  <app-footer></app-footer>